<ion-view view-title="Cart">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="card no-margin product-cart">
                    <div class="row no-padding">
                        <div class="col-40">
                            <div class="image-holder-cart">
                                <img class="cart-image" src="img/products/5.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h4>iPhone 6[S] 128GB 5inch</h4>
                            <h5>Ref. 2514/302</h5>
                            <div class="product-quantity-cart">
                                <button class="button button-clear button-icon button-calm"><i class="icon ion-minus-circled"></i></button>
                                <input type="text" value="2">
                                <button class="button button-clear button-icon button-calm"><i class="icon ion-plus-circled"></i></button>
                            </div>
                            <h3>Rs. 1000</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="discount-cart">
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="DISCOUNT COUPON">
                </label>
                <button class="button button-calm btn-cart" ng-click="goHome()">
                    APPLY
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card no-margin expense-cart">
                    <div class="item item-icon-left"><i class="icon ln-cash"></i>
                        <h3>Sub total <span class="item-note">Rs.1000</span></h3>
                    </div>
                    <div class="item item-icon-left">
                        <h3><i class="icon ln-ticket"></i>Discount amount
                <span class="item-note">Rs.1000</span></h3></div>
                    <div class="item item-icon-left">
                        <h3><i class="icon ln-cash"></i>Total amount
                <span class="item-note">Rs.1000</span></h3></div>
                </div>
            </div>
        </div>
        <a class="button social-login button-positive btn-checkout login-button" href="#/app/checkout">Proceed to checkout</a>
    </ion-content>
</ion-view>