<ion-view view-title="Checkout">
    <ion-content>
        <div class="checkout">
            <div class="row">
                <div class="col">
                    <div class="easycheckout">
                        <ul class="list">
                            <li class="chkbx-head">
                                <h2>Checkout</h2>
                            </li>
                            <li class="chkbx-head" ng-show="showlogreg">
                                <p>Register with us for future convenience</p>
                            </li>
                            <ion-radio class="chkbx" ng-show="showlogreg" ng-model="choice" ng-value="'guest'">Checkout as guest</ion-radio>
                            <ion-radio class="chkbx" ng-show="showlogreg" ng-model="choice" ng-value="'login'">Login/Register</ion-radio>
                            <button class="button button-positive chkbx-button" type="submit" ng-click="continue(choice)">
                                Continue
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col no-padding">
                    <div class="billing" ng-show="openbilling">
                        <h2>Billing information</h2>
                        <div class="list checkout-form">
                            <form ng-submit="doLogin()">
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">First Name</span>
                                    <input type="text" placeholder="First Name*" ng-model="checkout.firstname" ng-class="allvalidation[0].validation" required>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Last Name</span>
                                    <input type="text" placeholder="Last Name*" ng-model="checkout.lastname" ng-class="allvalidation[1].validation" required>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Company</span>
                                    <input type="text" placeholder="Company" ng-model="checkout.company">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Email</span>
                                    <input type="email" placeholder="Email*" ng-model="checkout.email" ng-class="allvalidation[2].validation" required>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Address</span>
                                    <textarea name="" id="" rows="2" placeholder="Address*" ng-model="checkout.billingaddress" ng-class="allvalidation[3].validation" required></textarea>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">City</span>
                                    <input type="text" placeholder="City*" ng-model="checkout.billingcity" ng-class="allvalidation[4].validation" required>
                                </label>
                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        Select State
                                    </div>
                                    <select ng-model="checkout.billingstate" ng-class="allvalidation[5].validation" required>
                                        <option value="">Select State</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Orissa">Orissa</option>
                                        <option value="Pondicherry">Pondicherry</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttaranchal">Uttaranchal</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Zip/Postal</span>
                                    <input type="text" placeholder="Zip/Postal*" ng-model="checkout.billingpincode" ng-class="allvalidation[6].validation" required only-digits maxlength="6" ng-trim="false">
                                </label>
                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        Select Country*
                                    </div>
                                    <select ng-model="checkout.billingcountry" ng-class="allvalidation[7].validation" required>
                                        <option value="">Select Country</option>
                                        <option value="India">India</option>
                                    </select>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Telephone*</span>
                                    <input type="tel" placeholder="Telephone" ng-model="checkout.billingcontact" ng-class="allvalidation[8].validation" only-digits ng-trim="false">
                                </label>
                                <button class="button button-positive checkout-button" type="submit" ng-click="toggleAddress()" ng-bind="address_select">
                                </button>
                                <div class="checkout-form2" ng-show="different_address">
                                    <h2>Shipping information</h2>
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">Shipping Name</span>
                                        <input type="text" placeholder="Shipping Name" ng-model="checkout.shippingname">
                                    </label>
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">Address</span>
                                        <textarea name="" id="" rows="2" ng-model="checkout.shippingaddress" placeholder="Address "></textarea>
                                    </label>
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">City</span>
                                        <input type="text" placeholder="City" ng-model="checkout.shippingcity">
                                    </label>
                                    <label class="item item-input item-select">
                                        <div class="input-label">
                                            Select State
                                        </div>
                                        <select ng-model="checkout.shippingstate" ng-class="allvalidation[5].validation" required>
                                            <option value="">Select State</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Orissa">Orissa</option>
                                            <option value="Pondicherry">Pondicherry</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttaranchal">Uttaranchal</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                                    </label>
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">Zip/Postal</span>
                                        <input type="text" placeholder="Zip/Postal" ng-model="checkout.shippingpincode">
                                    </label>
                                    <label class="item item-input item-select">
                                        <div class="input-label">
                                            Select Country
                                        </div>
                                        <select ng-model="checkout.shippingcountry">
                                            <option value="">Select Country</option>
                                            <option value="Afganistan">India</option>
                                        </select>
                                    </label>
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">Telephone</span>
                                        <input type="tel" placeholder="Telephone" ng-model="checkout.shippingcontact">
                                    </label>
                                </div>
                                <!--
                                <button class="button button-positive checkout-button" type="submit" ng-click="paymentOption()">
                                    Continue123
                                </button>
-->
                            </form>
                            <!--
                            <div class="payment">
                                <h2>Payment information</h2>

                            </div>
-->
                        </div>
                    </div>
                    <div class="order-review no-border">
                        <h2>Order review</h2>
                        <div class="item item-icon-left"><i class="icon ln-cash"></i>
                            <h3>Sub total <span class="item-note">Rs. {{totalcart | numberWithCommas}}</span>
                            </h3>
                        </div>
                        <div class="item item-icon-left">
                            <h3>
                              <i class="icon ln-ticket"></i>Discount amount
                              <span class="item-note">Rs. 0</span>
                            </h3>
                        </div>
                        <div class="item item-icon-left">
                            <h3><i class="icon ln-cash"></i>Total amount
                            <span class="item-note">Rs. {{totalcart | numberWithCommas}}</span>
                          </h3>
                        </div>
                    </div>
                    <button class="button button-positive order-button" type="submit" ng-click="paymentOption()">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
