<ion-view view-title="Contact Us">
    <ion-content>
        <div class="contactus">
            <div class="row">
                <div class="col">
                    <div class="contactus-addr">
                        <h2>Corporate Address</h2>
                        <p>Plot No. 3, Flat No. A/30 Laxmi Nivas , Near Sadhana School , Sion (W) , Mumbai 400022.</p>
                        <p>Tel : 123456789</p>
                        <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.6241989641017!2d72.85930199999999!3d19.036274400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf2cc4000001%3A0xc683a42662527334!2sSadhana+English+Primary+School!5e0!3m2!1sen!2sin!4v1440660984742" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="get-in-touch">
                        <h2>Get in touch</h2>
                        <div class="list contact-form">
                            <form ng-submit="doLogin()">
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Name</span>
                                    <input type="text" placeholder="Name*" required>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Email</span>
                                    <input type="email" placeholder="Email*" required>
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Telephone</span>
                                    <input type="tel" placeholder="Telephone">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Query</span>
                                    <textarea name="" id="" cols="30" rows="6" placeholder="Query*"></textarea>
                                </label>
                                <button class="button button-positive contact-button" type="submit">
                                    Done
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>