<ion-view view-title="Info">
    <ion-content>
        <div class="edit-information">
            <div class="list details">
                <div ng-class="{'save':saved}" ng-show="saved">
                    <span>Saved successfully.</span>
                </div>
                <form ng-submit="">
                    <label class="item item-input">
                        <input type="text" value="Rohan" placeholder="First name" ng-disabled="disabled">
                    </label>
                    <label class="item item-input">
                        <input type="text" value="Gada" placeholder="Last name" ng-disabled="disabled">
                    </label>
                    <label class="item item-input">
                        <textarea name="" id="" rows="5" value="" placeholder="Address" ng-disabled="disabled">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt beatae explicab.</textarea>
                    </label>
                    <label class="item item-input">
                        <input type="text" value="Mumbai" placeholder="City" ng-disabled="disabled">
                    </label>
                    <label class="item item-input">
                        <input type="text" value="Maharashtra" placeholder="State" ng-disabled="disabled">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Country
                        </div>
                        <select ng-disabled="disabled">
                            <option>USA</option>
                            <option selected>India</option>
                            <option>Switzerland</option>
                        </select>
                    </label>

                    <label class="item item-input">
                        <input type="text" value="400062" placeholder="Zip code" ng-disabled="disabled">
                    </label>
                    <label class="item item-input">
                        <input type="email" value="rg@abc.xyz" placeholder="Email" ng-disabled="disabled">
                    </label>
                    <label class="item item-input">
                        <input type="tel" value="9999999999" placeholder="Phone No." ng-disabled="disabled">
                    </label>
                    <button class="button button-positive editinfo-button" type="submit" ng-click="editSave()" ng-bind="edit_save">
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>