<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Forgot Password?</h1>
        <div class="buttons">
            <button class="button modal-close button-clear button-icon " ng-click="closeFrgt()"><i class="icon ion-ios-close-empty"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
      <div class="forgot-password">
       <h3>Enter your email address below and we'll send you password reset instructions.</h3>
        <div class="row">
            <div class="col-75">
                <label class="item item-input">
                    <input type="email" placeholder="Enter vaild email">
                </label>
            </div>
            <div class="col-25">
            <button class="button button-calm btn-frgt" ng-click="goHome()">
                Send
            </button>
            </div>
        </div>
        </div>
    </ion-content>
</ion-modal-view>