<ion-view view-title="My Account">
    <ion-content>
        <div class="myaccount">
           <div class="row">
               <div class="col"><a class="button button-positive" href="#/app/myorders">My orders</a></div>
               <div class="col"><button class="button button-positive">Edit profile</button></div>
           </div>
            <div class="list details">
                <label class="item item-input">
                    <span class="input-label">First name</span>
                    <input type="text" value="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last name</span>
                    <input type="text" value="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <textarea name="" id="" cols="5" rows="5" value=""></textarea>
                </label>
                <label class="item item-input">
                    <span class="input-label">City</span>
                    <input type="text" value="">
                </label>
                <label class="item item-input">
                    <span class="input-label">State</span>
                    <input type="text" value="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Country</span>
                    <select>
                        <option>Select country</option>
                        <option selected>India</option>
                        <option>Red</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Zip code</span>
                    <input type="text" value="">
                </label>
                   <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" value="">
                </label>
                   <label class="item item-input">
                    <span class="input-label">Phone No.</span>
                    <input type="tel" value="">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>