<ion-view view-title="My Account">
    <ion-content>
        <div class="myaccount">
            <div class="list details">
                <label class="item item-input">
                    <span class="input-label">First name</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last name</span>
                    <input type="text">
                </label>
                <lasbel class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>