<ion-view view-title="My Orders">
    <ion-content>
        <div class="row-container">
            <div class="col">
                <div class="order">
                    <div class="id-order">
                        <h2>ID : #123456<span> ordered : 21/10/2015</span></h2>
                    </div>
                    <div class="row no-padding">
                        <div class="col-40">
                            <div class="image-holder-order">
                                <img class="order-image" src="img/products/5.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h4>iPhone 6[S] 64GB 5Inch screen</h4>
                            <h5>Ref. 2514/302</h5>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-40">
                            <div class="image-holder-order">
                                <img class="order-image" src="img/products/5.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h4>iPhone 6[S] 64GB 5Inch screen</h4>
                            <h5>Ref. 2514/302</h5>
                        </div>
                    </div>
                    <div class="total-ship">
                        <h2>Rs.1000&nbsp;&nbsp;<span class="payment brdr-green" >PAID</span></h2>
                        <!--                         ngClass between brdr-green brdr-red brdr-grey-->
                        <h3>shipped : 28/10/2015</h3></div>
                </div>
            </div>
        </div>
        <div class="row-container">
            <div class="col">
                <div class="order">
                    <div class="id-order">
                        <h2>ID : #123456<span> ordered : 21/10/2015</span></h2>
                    </div>
                    <div class="row no-padding">
                        <div class="col-40">
                            <div class="image-holder-order">
                                <img class="order-image" src="img/products/5.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h4>iPhone 6[S] 64GB 5Inch screen</h4>
                            <h5>Ref. 2514/302</h5>
                        </div>
                    </div>

                    <div class="total-ship">
                        <h2>Rs.1000&nbsp;&nbsp;<span class="payment brdr-red" >OPEN</span></h2>
                        <!--                         ngClass between brdr-green brdr-red brdr-grey-->
                        <h3>shipped : 28/10/2015</h3></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>