<ion-view view-title="My Wishlist">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="card no-margin wishlist">
                    <div class="row no-padding">
                        <div class="col-40">
                            <div class="image-holder-wishlist">
                                <img class="wishlist-image" src="img/products/5.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h4>iPhone 6[S] 64GB 5Inch screen</h4>
                            <h5>Rs. 60000</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card no-margin wishlist">
                    <div class="row no-padding">
                        <div class="col-40">
                            <div class="image-holder-wishlist">
                                <img class="wishlist-image" src="img/products/5.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <h4>iPhone 6[S] 64GB 5Inch screen</h4>
                            <h5>Rs. 60000</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>