<ion-view view-title="Product Detail">
    <div class="bar bar-subheader bar-positive" ng-hide="transparent_header">
        <h1 class="title">{{product.product.name}}</h1>
    </div>
    <!--    <ion-content ng-class="{'no-header':transparent_header}" on-scroll="pageScrolled()">-->
    <ion-content ng-class="has-header" on-scroll="pageScrolled()">
        <div class="product-detail">
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="images in product.productimage">
                    <div class="image-holder-productimg">
                        <img ng-src="{{images.image | serverimage}}" class="product-img" alt="" ng-if="images.image">
                        <img src="img/icon.png" class="product-img" alt="" ng-if="!images.image">
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="row">
                <div class="col">
                    <div class="no-margin detail">
                        <div class="name-other">
                            <h2>{{product.product.name}}</h2>
                            <div class="row">
                                <div class="col user-rating">
                                    <ul>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-grey"></i></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h3>Availability : <span>{{availability}}</span></h3>
                                </div>
                            </div>
                            <div class="price">
                                <span>Price : Rs. {{product.product.price | numberWithCommas}}</span>
                            </div>
                            <div class="product-buttons padding-vertical">
                                <button class="button btn-productdetail icon-left button-positive" ng-click="addtocart(product.product)">
                                    <i class="icon ln-cart"></i>Add to cart
                                </button>
                                <button class="button btn-productdetail icon-left ion-ios-heart button-positive" ng-click="addtowishlist(product.product.id);">Add to wishlist</button>
                            </div>
                            <div class="tabs-detail">
                                <div class="row">
                                    <div class="col" ng-class="{'active-tab':tab.left}">
                                        <button class="button button-clear" ng-click="clickTab('left')">
                                            <h5>DESCRIPTION</h5></button>
                                    </div>
                                    <div class="col" ng-class="{'active-tab':tab.right}">
                                        <button class="button button-clear" ng-click="clickTab('right')">
                                            <h5>SPECIFICATION</h5></button>
                                    </div>
                                </div>
                            </div>
                            <div class="description" ng-show="tab.left">
                                <p ng-bind-html="product.product.description"></p>
                            </div>
                            <div class="specification" ng-show="tab.right">
                                <p>{{product.product.keyfeatures}}</p>
                                <!-- <p>Rear Camera <span class="item-note">Yes, 8 MP</span></p>
                                <p>Front Facing Camera <span class="item-note">Yes, 1.2 MP</span></p>
                                <p>Video Recording <span class="item-note">Yes, 1920 x 1080</span></p>
                                <p>HD Recording HD, <span class="item-note">Full HD</span></p>
                                <br>
                                <p>PLATFORM</p>
                                <p>OS <span class="item-note">iOS v9</span></p>
                                <p>Processor <span class="item-note">A8 Chip with 64-bit Architecture</span></p>
                                <br>
                                <p>DISPLAY</p>
                                <p>Size <span class="item-note">4.7 inch</span></p>
                                <p>Resolution <span class="item-note">1334 x 750 Pixels</span></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
