<ion-view view-title="Product Detail">
    <div class="bar bar-subheader bar-positive" ng-hide="transparent_header">
        <h1 class="title">{{product.product.name}}</h1>
    </div>
    <!--    <ion-content ng-class="{'no-header':transparent_header}" on-scroll="pageScrolled()">-->
    <ion-content ng-class="has-header" on-scroll="pageScrolled()">
        <div class="product-detail">
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="images in product.productimage">
                    <div class="image-holder-productimg">
                        <img ng-src="{{images.image | serverimage}}" class="product-img" alt="" ng-if="images.image">
                        <img src="img/icon.png" class="product-img" alt="" ng-if="!images.image">
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="row">
                <div class="col">
                    <div class="no-margin detail">
                        <div class="name-other">
                            <h2>{{product.product.name}}</h2>
                            <div class="row">
                                <div class="col user-rating">
                                    <ul>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-orange"></i></li>
                                        <li><i class="icon star ion-ios-star clr-grey"></i></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h3>Availability : <span>{{availability}}</span></h3>
                                </div>
                            </div>
                            <div class="price">
                                <span>Price : Rs. {{product.product.price | numberWithCommas}}</span>
                            </div>
                            <div class="product-buttons padding-vertical">
                                <button class="button btn-productdetail icon-left button-positive" ng-click="addtocart(product.product)">
                                    <i class="icon ln-cart"></i>Add to cart
                                </button>
                                <button class="button btn-productdetail icon-left ion-ios-heart button-positive" ng-click="addtowishlist(product.product.id);">Add to wishlist</button>
                            </div>
                            <div class="tabs-detail">
                                <div class="row">
                                    <div class="col" ng-class="{'active-tab':tab.left}">
                                        <button class="button button-clear" ng-click="clickTab('left')">
                                            <h5>DESCRIPTION</h5></button>
                                    </div>
                                    <div class="col" ng-class="{'active-tab':tab.right}">
                                        <button class="button button-clear" ng-click="clickTab('right')">
                                            <h5>SPECIFICATION</h5></button>
                                    </div>
                                </div>
                            </div>
                            <div class="description" ng-show="tab.left">
                                <p ng-bind-html="product.product.description"></p>
                            </div>
                            <div class="specification" ng-show="tab.right">
                                <!--                                <p>{{product.product.keyfeatures}}</p>-->
                                <p>Model Number <span class="item-note">{{product.product.modelnumber}}</span></p>
                                <p>Model Name <span class="item-note">{{product.product.modelname}}</span></p>
                                <p>EAN/UPC<span class="item-note">{{product.product.eanorupc}}</span></p>
                                <p>Type<span class="item-note">{{product.product.type}}</span></p>
                                <p>Compatible Device<span class="item-note">{{product.product.compatibledevice}}</span></p>
                                <p>Compatible With<span class="item-note">{{product.product.compatiblewith}}</span></p>
                                <p>Material<span class="item-note">{{product.product.material}}</span></p>
                                <p>Color<span class="item-note">{{product.product.color}}</span></p>
                                <p>Width<span class="item-note">{{product.product.width}}</span></p>
                                <p>Height<span class="item-note">{{product.product.height}}</span></p>
                                <p>Depth<span class="item-note">{{product.product.depth}}</span></p>
                                <p>Key Features<span class="item-note">{{product.product.keyfeatures}}</span></p>
                                <p>Finish<span class="item-note">{{product.product.finish}}</span></p>
                                <p>Weight<span class="item-note">{{product.product.weight}}</span></p>
                                <p>Warranty<span class="item-note">{{product.product.warrantyservicetype}}</span></p>
                                <p>Warranty Summary<span class="item-note">{{product.product.warrantysummary}}</span></p>
                                <p>Size<span class="item-note">{{product.product.size}}</span></p>
                                <p>Type Name<span class="item-note">{{product.product.modelname}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>