<ion-view view-title="Product categories">
  <ion-content>
   <div class="product-ctgry">
       <div class="item-divider">Cover & Cases</div>
    <ion-list>
        <ion-item class="product-item no-border" href="#/app/product"><span>iPhone Covers</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Samsung Covers</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Sony Covers</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Yureka Covers</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Micromaxx Covers</span></ion-item>
    </ion-list>
    <div class="item-divider">Mobiles</div>
    <ion-list>
        <ion-item class="product-item no-border" href="#/app/product"><span>iPhone</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Samsung</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Sony</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Yureka</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Micromaxx</span></ion-item>
    </ion-list>
    <div class="item-divider">Headphones</div>
    <ion-list>
        <ion-item class="product-item no-border" href="#/app/product"><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
    </ion-list>
    <div class="item-divider">Accesories</div>
    <ion-list>
        <ion-item class="product-item no-border" href="#/app/product"><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
    </ion-list>
    <div class="item-divider">Watches</div>
    <ion-list>
        <ion-item class="product-item no-border" href="#/app/product"><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
    </ion-list>
    <div class="item-divider">Laptops</div>
    <ion-list>
        <ion-item class="product-item no-border" href="#/app/product"><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
        <ion-item class="product-item no-border" href=""><span>Beats</span></ion-item>
    </ion-list>
   </div>
  </ion-content>
</ion-view>








Bags
Belt
Watches

Analog
Chronograph
Digital
Watch Cases