<ion-view view-title="Distributors">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <img ng-src="img/products/5.png" class="full-image">
            </ion-slide>
               <ion-slide>
                <img ng-src="img/products/8.jpg" class="full-image">
            </ion-slide>
               <ion-slide>
                <img ng-src="img/products/9.jpg" class="full-image">
            </ion-slide>
        </ion-slide-box>
  </ion-content>
</ion-view>
