<ion-view view-title="Search">
   <div class="bar bar-subheader bar-positive item-input-inset">
       <label class="item-input-wrapper">
    <i class="icon ion-ios-search"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear button-icon ion-ios-close-empty" ng-click="goBack()">
<!--
  
  copythis in controller goback()
  $window.history.back()
-->
  </button>
   </div>
    <ion-content class="has-subheader">
        <div class="row" >
            <div class="col">
                <div class="card no-margin product">
                    <div class="image-holder-product">
                        <img class="brand-image" src="img/products/5.png" alt="">
                    </div>
                    <div class="product-details">
                    <h2>iPhone 6[S]</h2>
<!--                    <h3 class="item-note">{{item.company}}</h3></h2>-->
                    <div class="rating">
                        <ul>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                        </ul>
                    </div>
                   </div>
                    
                        <div class="row">
                            <div class="col col-5025">
                                <h3>Rs.60000</h3>
                            </div>
                            <div class="col heart col-25">
                                <i class="icon ion-ios-heart"></i></button>
                            </div>
                            <div class="col cart col-25">
                            <i class="icon ion-android-cart"></i>
                            </div>
                        </div>
                    
                </div>
            </div>
               <div class="col">
                <div class="card no-margin product">
                    <div class="image-holder-product">
                        <img class="brand-image" src="img/products/5.png" alt="">
                    </div>
                    <div class="product-details">
                    <h2>iPhone 6[S]</h2>
<!--                    <h3 class="item-note">{{item.company}}</h3></h2>-->
                    <div class="rating">
                        <ul>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                            <li><i class="icon star ion-ios-star-outline"s></i></li>
                        </ul>
                    </div>
                   </div>
                    
                        <div class="row">
                            <div class="col col-50card no-margin ">
                                <h3>Rs.60000</h3>
                            </div>
                            <div class="col heart col-25">
                                <i class="icon ion-ios-heart"></i></button>
                            </div>
                            <div class="col cart col-25">
                            <i class="icon ion-android-cart"></i>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>